html, body, div, span, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, abbr, address, cite,
code, del, dfn, em, img, ins, kbd, q, samp, small, strong,
sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  color: #19486A;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
}

a:focus, a:active, input:focus, input:active, button:focus, button:active, textarea:focus, textarea:active, select:focus, select:active {
  outline: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #19486A;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  color: inherit;
  text-decoration: none;
}
h1.h-regular, h2.h-regular, h3.h-regular, h4.h-regular, h5.h-regular, h6.h-regular,
.h1.h-regular, .h2.h-regular, .h3.h-regular, .h4.h-regular, .h5.h-regular, .h6.h-regular {
  font-weight: 400;
}
h1.block-title, h2.block-title, h3.block-title, h4.block-title, h5.block-title, h6.block-title,
.h1.block-title, .h2.block-title, .h3.block-title, .h4.block-title, .h5.block-title, .h6.block-title {
  margin-bottom: 30px;
}

strong, b {
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
}

i, em {
  font-style: italic;
}

h1, .h1 {
  font-size: 48px;
  line-height: 56px;
}

h2, .h2 {
  font-size: 32px;
  line-height: 40px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 32px;
}

h4, .h4 {
  font-size: 24px;
  line-height: 32px;
}

h5, .h5 {
  font-size: 18px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 18px;
  line-height: 26px;
}

small {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

a {
  color: #666666;
}
a:hover {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.align-right {
  float: right;
  margin: 0 0 15px 20px !important;
}

.align-left {
  float: left;
  margin: 0 20px 15px 0 !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  display: block;
  text-align: center !important;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2F333A;
  margin: 0 0 35px;
}

.display-none {
  display: none;
}

*::-webkit-input-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*:-webkit-input-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*::-moz-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*:-moz-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

*:-ms-input-placeholder {
  opacity: 1;
  color: #bbbbbb;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  color: #19486A;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}

.container {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0 30px;
  text-align: left;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.modal-open {
  overflow: hidden;
}
.modal-open body {
  overflow: hidden;
}
.modal-open body .wrapper {
  overflow: hidden;
}

.body-section {
  position: relative;
  padding: 60px 0;
}
.body-section .body-content {
  padding-bottom: 30px;
}
.body-section h3, .body-section .h3, .body-section h4, .body-section .h4, .body-section h5, .body-section .h5 {
  margin-bottom: 20px;
}
.body-section h3, .body-section .h3 {
  font-size: 18px;
  line-height: 24px;
}
.body-section h4, .body-section .h4 {
  font-size: 16px;
  line-height: 22px;
}
.body-section h5, .body-section .h5 {
  font-size: 14px;
  line-height: 20px;
}
.body-section .first-p {
  color: #131A26;
  font-size: 18px;
  margin-bottom: 50px;
}
.body-section img {
  display: block;
  margin: 40px 0;
  max-width: 100%;
  height: auto;
}
.body-section .rent-table img {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.body-section p, .body-section ul, .body-section ol {
  line-height: 1.7;
  margin-bottom: 40px;
}
.body-section p:not(.first-p):last-child, .body-section ul:not(.first-p):last-child, .body-section ol:not(.first-p):last-child {
  margin-bottom: 0 !important;
}
.body-section ul, .body-section ol {
  padding: 0;
  list-style: none;
}
.body-section ul li, .body-section ol li {
  padding-left: 30px;
  position: relative;
}
.body-section ul li:last-child, .body-section ol li:last-child {
  margin: 0;
}
.body-section ul:not(.nav) li:before {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%227%22%20height%3D%222%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M0%20.6h6.3%22%20stroke%3D%22%23888%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.body-section ol {
  counter-reset: myCounter;
}
.body-section ol li:before {
  position: absolute;
  left: 0;
  width: 18px;
  top: 0;
  text-align: right;
  counter-increment: myCounter;
  content: counter(myCounter) ".";
}

.same-height > * {
  display: flex;
}
.same-height > * > * {
  flex: 1;
}

.simple-section.white-section {
  background-color: white;
}

@media (min-width: 1025px) {
  body {
    font-size: 18px;
    line-height: 26px;
  }

  h1, .h1 {
    font-size: 36px;
    line-height: 43px;
  }

  h2, .h2 {
    font-size: 25px;
    line-height: 30px;
  }

  h3, .h3 {
    font-size: 22px;
    line-height: 30px;
  }

  h4, .h4 {
    font-size: 20px;
    line-height: 24px;
  }

  h5, .h5 {
    font-size: 18px;
    line-height: 24px;
  }

  h6, .h6 {
    font-size: 16px;
    line-height: 24px;
  }

  h1.block-title, h2.block-title, h3.block-title, h4.block-title, h5.block-title, h6.block-title,
  .h1.block-title, .h2.block-title, .h3.block-title, .h4.block-title, .h5.block-title, .h6.block-title {
    margin-bottom: 70px;
  }

  a {
    transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
  }
  a:hover {
    color: #4C9F38;
    text-decoration: none;
  }

  .body-section {
    padding: 130px 0 160px;
  }
  .body-section .first-p {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
  }
  .body-section h3, .body-section .h3, .body-section h4, .body-section .h4, .body-section h5, .body-section .h5 {
    margin-bottom: 30px;
  }
  .body-section h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .body-section h3, .body-section .h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .body-section h4, .body-section .h4 {
    font-size: 22px;
    line-height: 30px;
  }
  .body-section h5, .body-section .h5 {
    font-size: 20px;
    line-height: 28px;
  }
  .body-section img {
    margin: 70px 0;
  }
}
/*__________________________________________________________________________ Grid        */
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1250px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 0;
  letter-spacing: -0.36em;
}
.row.row-center {
  text-align: center;
}
.row > [class^="col-"] {
  font-size: 15px;
  letter-spacing: normal;
}

.row:before,
.row:after,
[class^="col-"]:before,
[class^="col-"]:after {
  content: " ";
  display: table;
}

.row:after,
[class^="col-"]:after {
  clear: both;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  box-sizing: border-box;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 1.5;
  vertical-align: top;
  width: 100%;
  text-align: left;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1025px) {
  .row > [class^="col-"] {
    font-size: 18px;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.header {
  padding: 50px 0 0;
}
.header .header-top {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #19486A;
}
.header .header-top .download {
  float: right;
  padding: 15px 20px 15px 45px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  background-color: #4C9F38;
  background-position: 17px 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2219%22%20height%3D%2218%22%20viewBox%3D%220%200%2019%2018%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18.3%203.9c.27.4.35.93.2%201.45l-3.07%2010.1a2.44%202.44%200%200%201-2.22%201.7H2.9c-1.14%200-2.36-.91-2.77-2.07-.18-.5-.18-1-.03-1.42.03-.22.07-.45.08-.71.01-.18-.09-.33-.06-.46.04-.27.27-.46.45-.76.34-.56.72-1.46.84-2.04.06-.21-.06-.46%200-.65.06-.21.27-.37.38-.57.3-.51.7-1.5.75-2.03.02-.23-.1-.5-.02-.67.07-.26.32-.37.49-.6.26-.36.71-1.42.78-2.01.02-.2-.1-.38-.06-.58.05-.21.31-.44.5-.7C4.7%201.2%204.78-.32%206.2.08L6.2.1c.19-.04.38-.1.57-.1h8.49c.52%200%201%20.23%201.27.63.3.4.36.92.2%201.45l-3.06%2010.1c-.52%201.73-.81%202.1-2.23%202.1h-9.7c-.14%200-.32.04-.42.17-.09.14-.1.24-.01.48.22.65%201%20.78%201.6.78h10.3c.42%200%20.9-.23%201.02-.63l3.35-11.02c.07-.21.07-.43.06-.63.25.1.49.25.66.48zm-11.88.03c-.07.2.04.36.25.36h6.78c.2%200%20.4-.16.47-.36l.23-.72c.07-.2-.04-.35-.24-.35H7.12c-.19%200-.4.15-.47.35l-.23.72zm-.93%202.86c-.06.2.05.35.25.35h6.79c.18%200%20.4-.15.46-.35l.24-.72c.07-.2-.05-.36-.25-.36H6.2c-.2%200-.4.16-.47.36l-.24.72z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.header .header-top .lang-switcher {
  float: right;
  margin: 15px 30px 0 0;
  list-style: none;
}
.header .header-top .lang-switcher li {
  float: left;
  padding: 0 10px;
}
.header .header-top .lang-switcher li.current a {
  color: white;
}
.header .header-top .lang-switcher li a {
  display: block;
  color: #799EBA;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.section-header-bottom {
  background-color: #DDF1F6;
}
.section-header-bottom.no-slider [class^="col-"] {
  position: relative;
}
.section-header-bottom.no-slider .header__logo {
  margin: 0;
  width: 215px;
}
.section-header-bottom.no-slider .table-block {
  height: 210px;
}
.section-header-bottom .header__logo {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
}
.section-header-bottom .header__logo svg {
  display: block;
  width: 100%;
}
.section-header-bottom .item-image {
  height: 370px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.section-header-bottom .header-text {
  position: absolute;
  left: calc(16.666667% + 15px);
  right: calc(50% + 15px);
  bottom: 40px;
}
.section-header-bottom h1 {
  text-transform: uppercase;
  margin: 0;
}
.section-header-bottom h3 {
  margin: 0;
}
.section-header-bottom p {
  font-size: 15px;
  line-height: 24px;
}

.table-block {
  display: table;
  width: 100%;
  height: 370px;
}
.table-block .table-block-wrap {
  display: table-cell;
  vertical-align: middle;
}

.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  bottom: 55px;
  width: 20px;
  height: 34px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.owl-theme .owl-nav .owl-prev {
  background-image: url("");
}
.owl-theme .owl-nav .owl-next {
  background-image: url("");
}

.header__main-menu {
  float: left;
  list-style: none;
  margin: 0;
  padding: 15px 0;
}
.header__main-menu > li {
  float: left;
  position: relative;
  padding: 0 58px 0 0;
}
.header__main-menu > li:last-child {
  padding: 0;
}
.header__main-menu > li:last-child:before {
  display: none;
}
.header__main-menu > li:before {
  position: absolute;
  top: 0;
  right: 29px;
  bottom: 0;
  width: 1px;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}
.header__main-menu > li a {
  display: block;
  position: relative;
  color: white;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

/*__________________________________________________________________________ Footer ______________________ */
.footer {
  background-color: white;
  padding: 50px 0 80px;
  overflow: hidden;
}
.footer [class^="col-"] {
  font-size: 13px;
  line-height: 22px;
  position: relative;
}
.footer .twitter {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 30px;
  text-decoration: none;
  color: #1DA1F2;
  background-position: 0 2px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2215%22%20viewBox%3D%220%200%2018%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18.08%202.41c-.5.71-1.1%201.35-1.8%201.86v.47C16.28%209.51%2012.66%2015%206.03%2015c-2.05%200-3.94-.6-5.54-1.62a7.45%207.45%200%200%200%205.35-1.5%203.61%203.61%200%200%201-3.37-2.5%203.81%203.81%200%200%200%201.63-.07%203.6%203.6%200%200%201-2.9-3.53v-.04c.49.26%201.04.43%201.63.45a3.6%203.6%200%200%201-1.11-4.82%2010.25%2010.25%200%200%200%207.43%203.78%203.6%203.6%200%200%201%206.15-3.3A7.1%207.1%200%200%200%2017.6.98%203.6%203.6%200%200%201%2016%202.97a7.23%207.23%200%200%200%202.08-.56z%22%20fill%3D%22%231DA1F2%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.footer .copyright {
  color: #9B9B9B;
}

/*__________________________________________________________________________ Buttons ______________________ */
.btn {
  display: inline-block;
  min-width: 165px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  box-sizing: border-box;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  white-space: nowrap;
  vertical-align: top;
}
.btn.btn-disable {
  opacity: 0.4;
  cursor: default;
}
.btn.btn-large {
  padding: 20px 10px 16px;
}
.btn.btn-medium {
  padding: 8px 10px;
}
.btn.btn-small {
  padding: 3px 10px;
}
.btn.btn-block {
  display: block;
  width: 100%;
}
.btn.btn-green {
  color: white;
  background-color: #4C9F38;
}
.btn svg {
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
}

.win_os .btn.btn-large {
  padding: 17px 10px 19px;
}
.win_os .btn.btn-medium {
  padding: 5px 10px 11px;
}
.win_os .btn.btn-small {
  padding: 0 10px 3px;
}

@media (min-width: 1025px) {
  .btn {
    min-width: 165px;
  }
  .btn.btn-green:hover:not(.btn-disable) {
    background-color: #4C9F38;
    -webkit-box-shadow: 0 16px 8px 0 rgba(112, 166, 58, 0.2);
    box-shadow: 0 16px 8px 0 rgba(112, 166, 58, 0.2);
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}

.nav:before, .nav:after {
  display: table;
  content: "";
}
.nav:after {
  clear: both;
}

.tabs.login-tabs {
  margin-bottom: 30px;
}
.tabs.login-tabs .nav-tabs li {
  width: 50%;
}
.tabs.results-tabs .nav-tabs li {
  width: 25%;
}
.tabs .nav-tabs {
  list-style: none;
  font-size: 0;
  letter-spacing: -0.36em;
  text-align: center;
}
.tabs .nav-tabs li {
  position: relative;
  display: inline-block;
  font-size: 15px;
  letter-spacing: normal;
  background-color: #f7f7f7;
  padding: 0 10px;
  box-sizing: border-box;
  width: 50%;
}
.tabs .nav-tabs li:first-child {
  border-radius: 3px 0 0 3px;
}
.tabs .nav-tabs li:last-child {
  border-radius: 0 3px 3px 0;
}
.tabs .nav-tabs li.active {
  background-color: #dfdfdf !important;
}
.tabs .nav-tabs li.active a {
  color: #444452;
}
.tabs .nav-tabs li a {
  display: block;
  color: #bbbbbb;
  line-height: 18px;
  font-weight: 600;
  padding: 16px 0;
  text-decoration: none;
}
.tabs .nav-tabs li a span {
  font-weight: 400;
}
.tabs .tab-pane {
  padding: 50px 0 0;
}

.main-filter-section .tabs .nav-tabs li {
  background-color: white;
}
.main-filter-section .tabs .tab-pane {
  padding: 30px 0 0;
}

@media (min-width: 1025px) {
  .main-filter-section .tabs .nav-tabs li {
    font-size: 15px;
    width: 214px;
  }

  .tabs.login-tabs {
    margin-bottom: 50px;
  }
  .tabs.login-tabs .input-checkbox {
    margin-top: 12px;
  }
}
@media (max-width: 767px) {
  .tabs.results-tabs .nav-tabs li {
    width: 50%;
  }
}
.blockquotes-section {
  padding: 50px 0;
}
.blockquotes-section h2 {
  text-transform: uppercase;
}
.blockquotes-section blockquote {
  font-style: italic;
}
.blockquotes-section blockquote, .blockquotes-section p {
  margin-bottom: 10px;
}
.blockquotes-section .quotes {
  display: block;
  margin: 45px 0 0 45px;
}

.testimonials-section {
  background-color: #F5F6F7;
}
.testimonials-section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.testimonials-section .line {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 0;
}
.testimonials-section .line span {
  display: block;
  position: relative;
  width: 33.3333%;
  height: 6px;
  padding: 0 33.3333%;
  background-color: #FBE83E;
}
.testimonials-section .line span:before {
  position: absolute;
  left: 0;
  width: 33.3333%;
  height: 6px;
  content: "";
  background-color: #0A0B09;
}
.testimonials-section .line span:after {
  position: absolute;
  right: 0;
  width: 33.3333%;
  height: 6px;
  content: "";
  background-color: #D92831;
}
.testimonials-section h2 {
  text-align: center;
  margin-bottom: 30px;
}
.testimonials-section .owl-theme .owl-dots {
  padding-right: 33.33333%;
}
.testimonials-section .owl-theme .owl-dots .owl-dot {
  opacity: 0.2;
}
.testimonials-section .owl-theme .owl-dots .owl-dot.active {
  opacity: 1;
}
.testimonials-section .owl-theme .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
  background-color: #19486A;
}

.testimonial-block [class^="col-"] {
  position: relative;
}
.testimonial-block .testimonial-author {
  font-size: 15px;
  line-height: 20px;
  position: relative;
  padding: 0 40px 0 120px;
}
.testimonial-block .testimonial-author .image {
  position: absolute;
  top: 0;
  left: 40px;
  border-radius: 30px;
  overflow: hidden;
}
.testimonial-block .testimonial-author .name {
  font-weight: 700;
}
.testimonial-block blockquote {
  font-size: 15px;
  line-height: 24px;
  font-style: italic;
}

.body-section {
  padding: 60px 0 0;
}

.toggle-block {
  border-bottom: 1px dashed rgba(25, 72, 106, 0.2);
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}
.toggle-block:last-child {
  border: none;
}
.toggle-block .toggle-button {
  position: relative;
  cursor: pointer;
  font-size: 25px;
  line-height: 30px;
  padding: 22px 30px 22px 0;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
.toggle-block .toggle-button.open-toggle {
  color: #4C9F38;
}
.toggle-block .toggle-button.open-toggle:before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.toggle-block .toggle-button:before {
  position: absolute;
  top: 22px;
  right: 20px;
  width: 20px;
  height: 20px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M11.5%2011.5v5.97c0%20.85-.67%201.53-1.5%201.53s-1.5-.68-1.5-1.53V11.5H2.53C1.68%2011.5%201%2010.83%201%2010s.68-1.5%201.53-1.5H8.5V2.53C8.5%201.68%209.17%201%2010%201s1.5.68%201.5%201.53V8.5h5.97c.85%200%201.53.67%201.53%201.5s-.68%201.5-1.53%201.5H11.5z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}
.toggle-block .toggle-panel {
  display: none;
  font-size: 16px;
  line-height: 24px;
  padding: 0 0 22px;
}
.toggle-block .toggle-panel p {
  margin-bottom: 10px;
}
.toggle-block .toggle-panel img {
  display: block;
  max-width: 100%;
}
.toggle-block .toggle-panel *:last-child {
  margin-bottom: 0;
}

.sidebar-block {
  padding-left: 40px;
  border-left: 1px solid rgba(25, 72, 106, 0.15);
}

.video-block {
  margin-bottom: 50px;
}
.video-block a {
  color: #19486A;
  text-decoration: none;
}
.video-block span {
  vertical-align: top;
}
.video-block .video-image {
  position: relative;
  display: block;
  margin-bottom: 20px;
}
.video-block .video-image img {
  display: block;
  width: 100%;
  margin: 0;
}
.video-block .video-image:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}
.video-block .video-image:after {
  position: absolute;
  z-index: 1;
  top: calc(50% - 17px);
  left: calc(50% - 25px);
  width: 50px;
  height: 35px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2250%22%20height%3D%2235%22%20viewBox%3D%220%200%2050%2035%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M19.84%2023.94L33.34%2017l-13.5-7.03v13.97zM25%200a316.66%20316.66%200%200%201%2015.46.39l2.03.11a18.69%2018.69%200%200%201%201.12.13l.66.12c.3.06.57.13.79.22l.78.36a5.37%205.37%200%200%201%201.68%201.28c.1.11.25.28.43.52.17.23.44.77.8%201.62.37.85.62%201.79.75%202.8a88.83%2088.83%200%200%201%20.5%206.94v4.9c.02%202.68-.15%205.37-.5%208.05a11.04%2011.04%200%200%201-.7%202.77c-.34.82-.63%201.4-.9%201.7l-.38.48a6.6%206.6%200%200%201-.81.73%204.7%204.7%200%200%201-.87.53l-.78.35c-.22.1-.49.17-.8.22l-.66.13a7.07%207.07%200%200%201-1.1.12C37.81%2034.82%2032%2035%2025%2035a516.84%20516.84%200%200%201-15.62-.39L8%2034.5l-1-.11a13.3%2013.3%200%200%201-1.53-.28%208.6%208.6%200%200%201-1.42-.58%205.58%205.58%200%200%201-2-1.66%209.31%209.31%200%200%201-.82-1.62c-.36-.85-.6-1.79-.74-2.8A88.83%2088.83%200%200%201%200%2020.5v-4.9c-.02-2.68.15-5.37.5-8.05.13-1.02.37-1.94.7-2.77.34-.82.63-1.4.9-1.7l.38-.48a6.6%206.6%200%200%201%201.68-1.28c.3-.14.56-.27.78-.36.22-.09.49-.16.8-.22l.65-.13A6.24%206.24%200%200%201%207.51.5C12.18.17%2018%200%2025%200z%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.video-block .video-text {
  display: block;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
