
/*__________________________________________________________________________ Footer ______________________*/

.footer
	background-color: white
	padding: 50px 0 80px
	overflow: hidden
	[class^="col-"]
		font-size: 13px
		line-height: 22px
		position: relative

	.twitter
		display: inline-block
		vertical-align: top
		position: relative
		padding-left: 30px
		text-decoration: none
		color: $blue_twett
		background-position: 0 2px
		background-repeat: no-repeat
		background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2215%22%20viewBox%3D%220%200%2018%2015%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M18.08%202.41c-.5.71-1.1%201.35-1.8%201.86v.47C16.28%209.51%2012.66%2015%206.03%2015c-2.05%200-3.94-.6-5.54-1.62a7.45%207.45%200%200%200%205.35-1.5%203.61%203.61%200%200%201-3.37-2.5%203.81%203.81%200%200%200%201.63-.07%203.6%203.6%200%200%201-2.9-3.53v-.04c.49.26%201.04.43%201.63.45a3.6%203.6%200%200%201-1.11-4.82%2010.25%2010.25%200%200%200%207.43%203.78%203.6%203.6%200%200%201%206.15-3.3A7.1%207.1%200%200%200%2017.6.98%203.6%203.6%200%200%201%2016%202.97a7.23%207.23%200%200%200%202.08-.56z%22%20fill%3D%22%231DA1F2%22%20fill-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E%0A')

	.copyright
		color: $grey_9b



// @media (max-width: 767px)

// 	.col-xs-6.col-xs-push-6
// 		margin-top: -55px

// 	.footer
// 		.footer__logo
// 			margin-top: 60px


// @media (min-width: 768px)

// 	.footer
// 		padding: 55px 0
// 		h2
// 			font-size: 28px
// 			line-height: 34px


// @media (min-width: 768px) and (max-width: 1024px)

// 	.footer
// 		.tablet-hr
// 			display: block
// 			width: 100%
// 			height: 1px
// 			margin: 80px 0 45px
// 			border: none
// 			opacity: 0.5
// 			background-color: white
// 		hr
// 			display: none

// 		.footer__socials
// 			margin-top: 0



// @media (min-width: 1025px)

// 	.footer
// 		padding: 120px 0 135px
// 		background-position: center top
// 		hr
// 			width: 70%

// 		h2
// 			margin-right: 30%

// 		.footer__menu
// 			li
// 				padding: 13px 0
