/*__________________________________________________________________________ Buttons ______________________*/

.btn
	display: inline-block
	min-width: 165px
	border: none
	cursor: pointer
	text-transform: uppercase
	text-decoration: none
	text-align: center
	font-size: 18px
	line-height: 24px
	box-sizing: border-box
	transition: 0.3s ease
	-webkit-transition: 0.3s ease
	white-space: nowrap
	vertical-align: top
	&.btn-disable
		opacity: 0.4
		cursor: default

	&.btn-large
		padding: 20px 10px 16px

	&.btn-medium
		padding: 8px 10px
	&.btn-small
		padding: 3px 10px

	&.btn-block
		display: block
		width: 100%

	// &.view-all
	// 	display: block
	// 	width: 200px
	// 	margin: 0 auto 30px

	// &.btn-repeat
	// 	font-size: 11px
	// 	line-height: 25px
	// 	font-weight: 600
	// 	padding: 5px 10px
	// 	color: white
	// 	background-color: $grey_99
	// 	&:hover:not(.btn-disable)
	// 		background-color: $grey_66

	// &.with-label
	// 	margin-top: 25px

	// &.btn-default
	// 	color: $grey_73
	// 	background-color: $grey_ed
	// 	&:hover:not(.btn-disable)
	// 		background-color: darken( $grey_ed, 10% )

	// &.btn-default-empty
	// 	color: $grey_73
	// 	background-color: white
	// 	line-height: 22px
	// 	border: 1px solid $grey_df
	// 	&:hover:not(.btn-disable)
	// 		background-color: $grey_f7

	// &.btn-default-empty-2
	// 	color: $grey_73
	// 	background-color: $grey_f7
	// 	line-height: 22px
	// 	border: 1px solid $grey_df
	// 	&:hover:not(.btn-disable)
	// 		background-color: $grey_ed


	// &.btn-blue
	// 	color: white
	// 	background-color: $blue
	// 	&:hover:not(.btn-disable)
	// 		background-color: darken( $blue, 10% )

	// &.btn-red
	// 	color: white
	// 	background-color: $red
	// 	&:hover:not(.btn-disable)
	// 		background-color: darken( $red, 10% )

	// &.btn-yellow
	// 	color: white
	// 	background-color: $yellow
	// 	&:hover:not(.btn-disable)
	// 		background-color: darken( $yellow, 10% )

	&.btn-green
		color: white
		background-color: $green
		// &:hover:not(.btn-disable)
		// 	background-color: $green_light_2
		// 	-webkit-box-shadow: 0 16px 8px 0 rgba(112,166,58, 0.2)
	//   	box-shadow: 0 16px 8px 0 rgba(112,166,58, 0.2)

	svg
		display: inline-block
		vertical-align: top
		margin-left: -5px





.win_os
	.btn
		&.btn-large
			padding: 17px 10px 19px

		&.btn-medium
			padding: 5px 10px 11px
		&.btn-small
			padding: 0 10px 3px







// @media (min-width: 678px)



@media (min-width: 1025px)

	.btn
		min-width: 165px


		&.btn-green
			&:hover:not(.btn-disable)
				background-color: $green
				-webkit-box-shadow: 0 16px 8px 0 rgba(112,166,58, 0.2)
				box-shadow: 0 16px 8px 0 rgba(112,166,58, 0.2)

			// &.view-all
			// 	width: calc(20% - 20px)
			// 	margin: 0 auto 50px
