.tab-content
	> .tab-pane
		display: none
	> .active
		display: block

.fade
	opacity: 0
	-webkit-transition: opacity .15s linear
	-o-transition: opacity .15s linear
	transition: opacity .15s linear
	&.in
		opacity: 1


.nav
	&:before, &:after
		display: table
		content: ""
	&:after
		clear: both

.tabs
	&.login-tabs
		margin-bottom: 30px
		.nav-tabs
			li
				width: 50%
	&.results-tabs
		.nav-tabs
			li
				width: 25%
	.nav-tabs
		list-style: none
		font-size: 0
		letter-spacing: -.36em
		text-align: center
		li
			position: relative
			display: inline-block
			font-size: 15px
			letter-spacing: normal
			background-color: $grey_f7
			padding: 0 10px
			box-sizing: border-box
			width: 50%
			&:first-child
				border-radius: 3px 0 0 3px
			&:last-child
				border-radius: 0 3px 3px 0
			&.active
				background-color: $grey_df !important
				a
					color: $grey_44
			a
				display: block
				color: $grey_bb
				line-height: 18px
				font-weight: 600
				padding: 16px 0
				text-decoration: none
				span
					font-weight: 400

	.tab-pane
		padding: 50px 0 0

.main-filter-section
	.tabs
		.nav-tabs
			li
				background-color: white
		.tab-pane
			padding: 30px 0 0


@media (min-width: 1025px)

	.main-filter-section
		.tabs
			.nav-tabs
				li
					font-size: 15px
					width: 214px


	.tabs
		&.login-tabs
			margin-bottom: 50px
			.input-checkbox
				margin-top: 12px
// 	.tabs
// 		.nav-tabs
// 			li
// 				padding: 10px 0 20px
// 				margin-right: 35px
// 				a
// 					font-size: 20px
// 					line-height: 25px


@media (max-width: 767px)

	.tabs
		&.results-tabs
			.nav-tabs
				li
					width: 50%
