
html, body, div, span, object, iframe,h1, h2, h3,
h4, h5, h6, p, blockquote, pre,abbr, address, cite,
code,del, dfn, em, img, ins, kbd, q, samp,small, strong,
sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,footer, header,
hgroup, menu, nav, section, summary,time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 100%
	vertical-align: baseline
	background: transparent
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

@import partials/_variables
@import partials/_mixins
@import partials/_basic
@import partials/_grid

@import partials/_block_header
@import partials/_block_footer

@import partials/_element_buttons
// @import partials/_element_article


@import partials/_element_tab
// @import partials/_element_small
// @import partials/_element_forms
// @import partials/_element_discover


@import partials/_page_home
@import partials/_page_simple
// @import partials/_page_404











